@using Mvc.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<Customer>
@*@model List<Mvc.Models.Customer>*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <title>Customer - List</title>
    <div class="container">
        <h3>Customer List</h3>
        <a class="add-operation" asp-action="Create" asp-controller="Home">Create</a>
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Age</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>@item.Age</td>
                        <td>
                            <a class="update-operation" asp-action = "Update" asp-controller = "Home" asp-route-id = "@item.Id">Update</a>
                            <a class="remove-operation" asp-action = "Remove" asp-controller = "Home" asp-route-id = "@item.Id">Remove</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
